.page-enter-active {
    animation: .3s ease-out 0s 1 apparition;
}
.page-leave-to {
  opacity: 0;
}

@keyframes apparition {
    0% {
      transform: translatey(+3rem);
      opacity: 0.3;
    }
    100% {
      transform: translatey(0);
      opacity: 1;
    }
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 6, 97);
  outline: 1px solid rgb(1, 103, 204);
}

@keyframes img_top {
  0% {
      background-position-y: 0%
  }
  100% {
      background-position-y: 100%
  }
}
@keyframes img_left {
  0% {
      background-position-x: 0%
  }
  100% {
      background-position-x: 100%
  }
}
@keyframes img_right {
  0% {
      background-position-x: 100%
  }
  100% {
      background-position-x: 000%
  }
}

.v-application .blue.darken-3 {
  background-color: #1565c0a1 !important;
  border-color: #1565c080 !important;
}
