@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


::-webkit-scrollbar-track
{
  background-color: var(--v-background-base);
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--v-background-base);
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.dark-mode ::-webkit-scrollbar-thumb
{
  background-color: #555;
}

.v-application .background-gradient{
  background-image: linear-gradient(to top, var(--v-background-lighten5) 0%,var(--v-background-base) 60%, var(--v-background-base) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.v-application.theme--dark .background-gradient{
  background-image: linear-gradient(to top, var(--v-background-darken2) 0%,var(--v-background-base) 40%, var(--v-background-base) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.page-enter-active {
    animation: .3s ease-out 0s 1 apparition;
}
.page-leave-to {
  opacity: 0;
}

html { overflow-y: auto!important }

.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile{
  max-height: 70%!important;
}
.v-btn--fab.v-btn--absolute, .v-btn--fab.v-btn--fixed {
  z-index: 8;
}
.theme--dark.v-sheet, .theme--dark.v-card, .theme--dark.v-navigation-drawer{
  background-color: #343438!important;
  border-color: #343438!important;
  /*color: #FFFFFF!important;*/
}

@keyframes apparition {
    0% {
      transform: translatey(+3rem);
      opacity: 0.3;
    }
    100% {
      transform: translatey(0);
      opacity: 1;
    }
}

.v-navigation-drawer__content .v-list-item{
  border-bottom: 0px;
}

v-image:hover .v-image__image {
  background-size: 110% auto;
  animation: 10s linear infinite img_top;
}

.v-list-item__title, .v-list-item__subtitle{
  white-space: inherit!important;
}

.theme--light .v-main {
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
}
.theme--dark .v-main {
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
}

.v-dialog{
  width: fit-content;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px);
}
.v-application{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.first-color-accent::first-letter{
  color: var(--v-accent-base);
  font-size: 110%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes img_top {
  0% {
      background-position-y: 0%
  }
  100% {
      background-position-y: 100%
  }
}
@keyframes img_left {
  0% {
      background-position-x: 0%
  }
  100% {
      background-position-x: 100%
  }
}
@keyframes img_right {
  0% {
      background-position-x: 100%
  }
  100% {
      background-position-x: 000%
  }
}

@media print{
  nav{
    display: none;
    visibility: hidden;
    width: 0;
  }
  main .container .v-card.pdf {
    zoom: 0.7;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    margin: 0px!important;
    border: none!important;
    box-shadow: none!important;
  }
  .v-application .d-none.print {
    display: block !important;
  }

  .print-hide{
    display: none!important;
  }
  .v-application .background-gradient, .v-application.theme--dark .background-gradient{
        background: none;
  }
  .v-dialog{
    background: white;
  }


  .portrait-cv {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 8rem;
    width: 8rem;
  }
}
